<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
     id="com.google.caja.ecajalipse.cajaBuilder"
     name="Caja Project Builder"
     point="org.eclipse.core.resources.builders">
        <builder
         hasNature="true">
            <run
             class="com.google.caja.ecajalipse.builder.CajaBuilder">
            </run>
        </builder>
    </extension>
    <extension
     id="com.google.caja.ecajalipse.cajaNature"
     name="Caja Project Nature"
     point="org.eclipse.core.resources.natures">
        <runtime>
            <run
             class="com.google.caja.ecajalipse.builder.CajaNature">
            </run>
        </runtime>
        <builder
         id="com.google.caja.ecajalipse.cajaBuilder">
        </builder>
    </extension>
    <extension
     point="org.eclipse.ui.popupMenus">
        <objectContribution
         adaptable="true"
         objectClass="org.eclipse.core.resources.IProject"
         nameFilter="*"
         id="com.google.caja.ecajalipse.cajaBuilder.menuPopUpcontribution">
            <action
             label="Add/Remove Caja Nature"
             class="com.google.caja.ecajalipse.builder.ToggleCajaNatureAction"
             menubarPath="additions"
             enablesFor="+"
             id="com.google.caja.ecajalipse.cajaBuilder.addRemoveNatureAction">
            </action>
        </objectContribution>
    </extension>
    <extension
     id="syntaxErrorProblem"
     name="Caja Syntax Error Problem"
     point="org.eclipse.core.resources.markers">
        <super
         type="org.eclipse.core.resources.problemmarker">
        </super>
        <persistent
         value="true">
        </persistent>
    </extension>
    <extension
     point="org.eclipse.help.toc">
        <toc file="docs/index.xml"/>
    </extension>
    <extension
     point="org.eclipse.eclipsemonkey.scriptpath">
        <scriptpath directory="scripts"/>
    </extension>
    <extension
     point="com.aptana.ide.snippets.snippetspath">
        <snippetsinfo directory="snippets"/>
    </extension>
    <extension
     point="com.aptana.ide.documentation.library">
        <libraryinfo
         directory="libraries"
         iconFile="icons/caja.png"
         name="Caja"/>
    </extension>
    <extension
     point="com.aptana.ide.samples.samplespath">
        <samplesinfo
         directory="samples"
         iconFile="icons/caja.png"
         infoFile="samples/index.html"
         name="Caja Samples"
         previewHandler="com.aptana.ide.documentation.samples.AjaxSamplesPreviewHandler">
            <include path="libraries/lib"/>
        </samplesinfo>
    </extension>
    <extension
     point="org.eclipse.ui.views">
        <view
         category="com.aptana.ide.documentation"
         class="com.aptana.ide.core.ui.views.browser.DefaultBrowserView"
         icon="icons/caja.png"
         id="com.aptana.ide.documentation.caja.sampleview"
         name="Caja Sample View">
            <description>
                bundleresource://com.google.caja.ecajalipse.0.1/views/sampleview/sampleview.html
            </description>
        </view>
    </extension>
    <extension
     point="com.aptana.ide.editor.js.scriptdoc">
        <xml-file path="support/CajaAPI.xml" user-agent="Caja"/>
    </extension>
</plugin>
